@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-toastify/dist/ReactToastify.css";

/* OVERRIDING REACT TOSTIFY CLASSES FOR NOTIFICATIONS */
:root {
    --toastify-color-info: #3498db;
    --toastify-color-success: #15803d !important;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-light: #292524 !important;
}
